program: run_test2.py
metric:
  name: Val Metrics Dict/correlations/plcc
  goal: maximize

method: random
parameters:
  lr:
    distribution: q_log_uniform_values
    min: 1e-6
    max: 1e-5
    q: 1e-7
  linear_layer_lr:
    distribution: q_log_uniform_values
    min: 1e-4
    max: 1e-2
    q: 1e-7
  scene_type_bias_weight_loss_coef:
    distribution: uniform
    min: 0.00
    max: 1.0
  init_scene_type_bias_weight:
    value: 0.5
    # distribution: uniform
    # min: 0.00
    # max: 0.5
  # eps:
  #   distribution: q_log_uniform_values
  #   min: 1e-10
  #   max: 1e-6
  #   q: 1e-10
  # beta1:
  #   distribution: uniform
  #   min: 0.55
  #   max: 0.90
  # beta2:
  #   distribution: uniform
  #   min: 0.96
  #   max: 0.999
  # resize:
  #   values: [true, false]

command:
- ${env}
- ${interpreter}
- ${program}
- ${args}
