program: run_test2_cross.py
metric:
  name: Cross-Val Metrics Dict/mean_mse
  goal: maximize

method: bayes
parameters:
  lr:
    # value: 1e-5
    distribution: q_log_uniform_values
    min: 1e-6
    max: 1e-4
    q: 1e-7
  # linear_layer_lr:
  #   distribution: q_log_uniform_values
  #   min: 2e-4
  #   max: 1e-3
  #   q: 1e-7
  # cnn_layer_lr:
  #   distribution: q_log_uniform_values
  #   min: 2e-4
  #   max: 1e-2
  #   q: 1e-7
    # value: 5e-4
  # scene_type_bias_weight_loss_coef:
  #   distribution: uniform
  #   min: 0.00
  #   max: 1.0
  init_scene_type_bias_weight:
    value: 0.5
    # distribution: uniform
    # min: 0.00
    # max: 0.5
  eps:
    distribution: q_log_uniform_values
    min: 1e-10
    max: 1e-5
    q: 1e-10
    # value: 1e-7
  beta1:
    # value: 0.9
    distribution: uniform
    min: 0.85
    max: 0.95
  beta2:
    # value: 0.999
    distribution: uniform
    min: 0.9985
    max: 0.9999
  optimizer:
    value: 'adam' #: ['nadam', 'adam', 'sgd', 'sgd_momentum']

command:
- ${env}
- ${interpreter}
- ${program}
- ${args}
