program: train-nr.py
metric:
  name: Validation Metrics Dict/l1
  goal: minimize

method: random
parameters:
  lr:
    distribution: q_log_uniform_values
    min: 1e-3
    max: 4e-3
    q: 1e-7
  # score_reg_scale:
  #   distribution: q_log_uniform_values
  #   min: 1e-5
  #   max: 5e-5
  #   q: 1e-5
  mae_reg_enabled:
    value: 'False'
  score_reg_enabled:
    value: 'False'
  dists_pref2ref_coeff:
    distribution: uniform
    min: 0.32
    max: 0.38
  # l1_coeff:
  #   distribution: uniform
  #   min: 0.88
  #   max: 0.95
  # aug_crop_scale:
  #   distribution: uniform
  #   min: 0.74
  #   max: 0.76
  # aug_rot_deg:
  #   distribution: uniform
  #   min: 175.0
  #   max: 180.0
  # refine_up_depth:
  #   values: [2]
  # reg_activation:
  #   values: ['sigmoid']
  # transformer_decoder_depth:
  #   values: [2]
command:
- ${env}
- ${interpreter}
- ${program}
- ${args}
