program: run_test2.py
metric:
  name: Val Metrics Dict/correlations/scene_min/plcc
  goal: maximize

method: random
parameters:
  lr:
    distribution: q_log_uniform_values
    min: 1e-6
    max: 6e-4
    q: 1e-7
  linear_layer_lr:
    value: 1e-4
    # distribution: q_log_uniform_values
    # min: 1e-4
    # max: 1e-3
    # q: 1e-7
  # scene_type_bias_weight_loss_coef:
  #   distribution: uniform
  #   min: 0.00
  #   max: 1.0
  init_scene_type_bias_weight:
    value: 0.5
    # distribution: uniform
    # min: 0.00
    # max: 0.5
  eps:
    distribution: q_log_uniform_values
    min: 1e-10
    max: 1e-6
    q: 1e-10
  momentum:
    distribution: uniform
    min: 0.8
    max: 0.95
    q: 1e-3
  momentum_decay:
    distribution: uniform
    min: 0.002
    max: 0.006
    q: 1e-4
  beta1:
    distribution: uniform
    min: 0.9
    max: 0.95
  beta2:
    distribution: uniform
    min: 0.999
    max: 0.9999
  optimizer:
    values: ['nadam', 'adam', 'sgd', 'sgd_momentum']

command:
- ${env}
- ${interpreter}
- ${program}
- ${args}
