program: run_test2_cross.py
metric:
  name: Cross-Val Metrics Dict/correlations/mean_plcc
  goal: maximize

method: bayes
parameters:
  lr:
    # value: 1e-5
    distribution: q_log_uniform_values
    min: 5e-3
    max: 1e-1
    q: 1e-7
  linear_layer_lr:
    distribution: q_log_uniform_values
    min: 1e-10
    max: 1e-6
    q: 1e-7
    # value: 5e-4
  # scene_type_bias_weight_loss_coef:
  #   distribution: uniform
  #   min: 0.00
  #   max: 1.0
  init_scene_type_bias_weight:
    value: 0.5
    # distribution: uniform
    # min: 0.00
    # max: 0.5
  eps:
    # distribution: q_log_uniform_values
    # min: 1e-10
    # max: 1e-6
    # q: 1e-10
    value: 1e-7
  # momentum:
  #   distribution: uniform
  #   min: 0.8
  #   max: 0.95
  # momentum_decay:
  #   distribution: uniform
  #   min: 0.002
  #   max: 0.006
  beta1:
    # value: 0.9
    distribution: uniform
    min: 0.9
    max: 0.95
  beta2:
    # value: 0.999
    distribution: uniform
    min: 0.999
    max: 0.9995
  optimizer:
    value: 'adam' #: ['nadam', 'adam', 'sgd', 'sgd_momentum']

command:
- ${env}
- ${interpreter}
- ${program}
- ${args}
